<div class="l-station" (click)="goToDEtailsPage(station.id)" [ngClass]="{'-type_details': type==='details'}">

  <div class="b-station">

    <h2 class="b-station__title">{{station.properties.label}}</h2>

    <ul class="b-station__places">

      <li class="b-station__placesItem -type_distance" *ngIf="station.distance">{{station.distance}}m</li>
      <!-- <li class="b-station__placesItem -type_address"></li> -->
      
    </ul>

    <ul class="b-station__availibility">

      <li class="b-station__availibilityItem -type_bikes">
        <app-availibility [type]="'bikes'" [title]="'Available bikes'" [numbers]="station.properties.bikes"></app-availibility>
      </li>
      <li class="b-station__availibilityItem -type_places">
        <app-availibility [type]="'places'" [title]="'Avilable places'" [numbers]="station.properties.free_racks"></app-availibility>
      </li>

    </ul>

  </div>

</div>
