<template>
<div class="l-dialog" :class="{ '-state_active': isShowDialog }">
  <div class="b-dialog" :class="{ '-state_active': isShowWindow }">
    <h3 class="b-title">{{title}}</h3>
    <div class="b-dialog__item">
      <input 
        type="text" 
        class="b-field" 
        :placeholder="[[titlePlaceholder]]"
        v-model.trim="note.title"
        @input="$v.note.title.$touch(); checkForm($v)">
        <div class="b-message -type_error" 
            v-if="!$v.note.title.required && $v.note.title.$error">Title is required</div>
    </div>
    <div class="b-dialog__item">
      <textarea 
        class="b-field -type_textarea" 
        :placeholder="[[descriptionPlaceholder]]"
        v-model.trim="note.content"
        @input="$v.note.content.$touch(); checkForm($v)"></textarea>
        <div class="b-message -type_error" 
            v-if="!$v.note.content.required && $v.note.content.$error">Description is required</div>
    </div>
    <div class="b-dialog__item">
      <button class="b-button" 
              :disabled="isDisabledSubmit"
              :class="{ '-state_disabled': isDisabledSubmit }"
              @click="onSubmit($v, note)">{{submitTitle}}</button>
      <button class="b-button -color_transparent" 
              @click="onCancel()">{{cancelTitle}}</button>
    </div>
  </div>
</div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'AddDialog',
  components: {},
  data () {
    return {
      isDisabledSubmit: true,
      isShowWindow: false,
      note: {
        id: '',
        title: '',
        content: '',
        status: 'New'
      }
    }
  },
  watch: {
    isShowDialog: function(value) {
      if(value) {
        setTimeout(
          () => { 
            this.isShowWindow = true;
          }, 100);
      } else {
        this.isShowWindow = false;
      }
    }
  },
  props: {
    isShowDialog: {
      type: Boolean,
      default: false
    },
    onCancelAction: { 
      type: Function,
      default: function() {}
    },
    onSubmitAction: { 
      type: Function,
      default: function() {}
    },
    submitTitle: {
      type: String,
      default: 'Save'
    },
    cancelTitle: {
      type: String,
      default: 'Cancel'
    },
    title: {
      type: String,
      default: ''
    },
    titlePlaceholder: {
      type: String,
      default: ''
    },
    descriptionPlaceholder: {
      type: String,
      default: ''
    }
  },
  validations: {
    note: {
      title: { required },
      content: { required }
    }
  },
  methods: {
    onSubmit(v, note) {
      this.onSubmitAction(Object.assign({}, note));
      this.resetForm(v);
    },

    checkForm(v) {
      if (v.note.$invalid) {
        this.isDisabledSubmit = true;
      } else {
        this.isDisabledSubmit = false;
      }
    },

    onCancel() {
      this.onCancelAction();
    },

    resetForm(v) {
      this.note.title = '';
      this.note.content = '';
      v.$reset();
    }
  }
}
</script>

<style lang="sass"></style>
