<template>
<div class="l-addPanel">
  <div class="b-addPanel">
    <button class="b-button -size_big" @click="openAddDialog()">Add</button>
  </div>
  <add-dialog 
    :is-show-dialog="isShowDialog" 
    :on-cancel-action="onCancelAddAction" 
    :on-submit-action="onSubmitAddAction"
    :title="addTitle"
    :title-placeholder="addTitlePlaceholder"
    :description-placeholder="addDescriptionPlaceholder"></add-dialog>
</div>
</template>

<script>
import AddDialog from '@/components/AddDialog'

export default {
  name: 'AddPanel',
  components: {
    AddDialog
  },
  data () {
    return {
      isShowDialog: false,
      addTitle: 'Notes',
      addTitlePlaceholder: 'Add title',
      addDescriptionPlaceholder: 'Add description'
    }
  },
  props: {
    onAddAction: { 
      type: Function,
      default: function() {}
    }
  },
  methods: {
    openAddDialog() {
      this.isShowDialog = true;
    },

    onSubmitAddAction(newNote) {
      this.isShowDialog = false;
      this.onAddAction(newNote);
    },
    
    onCancelAddAction() {
      this.isShowDialog = false;
    }
  }
}
</script>

<style lang="sass"></style>
