<template>
<div class="l-container">
  <div class="b-container">
    <statistics :list="data.statistics" 
                v-if="data.statistics"></statistics>
    <notes-list :list="data.notesList" 
                :on-sort-action="sortNotesList" 
                :on-delete-action="deleteNotes"
                v-if="data.notesList"></notes-list>
    <add-panel :on-add-action="addNote"></add-panel>
  </div>
</div>
</template>

<script>
import MockRestService from '@/services/MockRestService'
import Statistics from '@/components/Statistics'
import NotesList from '@/components/NotesList'
import AddPanel from '@/components/AddPanel'

export default {
  name: 'Container',
  components: {
    Statistics,
    NotesList,
    AddPanel
  },
  data() {
    return {
      data: {}
    }
  },
  methods: {
    getNotes() {
      MockRestService.getNotes().then((data) => {
        this.data = data;
      })
    },

    sortNotesList(sortColumn, isAsc) {
      MockRestService.sortNotesList(sortColumn, isAsc).then((list) => {
        this.data.notesList = list;
      })
    },

    deleteNotes(deleteNotesArray) {
      MockRestService.deleteNotes(deleteNotesArray).then(({updatedNotesList, updatedStatistics}) => {
        this.data.notesList = updatedNotesList;
        this.data.statistics = updatedStatistics;
      })
    },
    
    addNote(newNote) {
      MockRestService.addNote(newNote).then(({updatedNotesList, updatedStatistics}) => {
        this.data.notesList = updatedNotesList;
        this.data.statistics = updatedStatistics;
      })
    }
  },
  created() {
    this.getNotes();
  }
}
</script>

<style lang="sass"></style>
