<template>
<div class="b-notesList__row">
  <div class="b-notesList__item -type_id">
    <div class="b-notesList__value">
      <div class="b-notesList__valueCheckbox">
        <checkbox :is-checked="isChecked" :on-check-action="onDeleteNote"></checkbox>
      </div>
      <div class="b-notesList__valueText">{{row.id}}</div>
    </div>
  </div>
  <div class="b-notesList__item -type_title">{{row.title}}</div>
  <div class="b-notesList__item -type_content">{{row.content}}</div>
  <div class="b-notesList__item -type_status">{{row.status}}</div>
</div>
</template>

<script>
import Checkbox from '@/components/Checkbox'

export default {
  name: 'NotesItem',
  components: {
    Checkbox
  },
  props: {
    isChecked: {
      default: false
    },
    row: {
      type: Object,
      default: function () {
        return {}
      }
    },
    onDeleteAction: {
      type: Function,
      default: function() {}
    }
  },
  methods: {
    onDeleteNote() {
      this.onDeleteAction(this.row.id);
    }
  }
}
</script>

<style lang="sass"></style>
