<template>
<div class="l-notesList">
  <div class="b-notesList">
    <div class="b-notesList__header">
      <div class="b-notesList__item -type_id">
        <div class="b-notesList__title">
          <div class="b-notesList__titleCheckbox">
            <checkbox :is-checked="isCheckedAll" :on-check-action="toggleCheckedAll"></checkbox>
          </div>
          <div class="b-notesList__titleText">ID</div>
        </div>
        <div class="b-notesList__icon">
          <sort-icon :sort-column="'id'" :on-sort-action="onSortAction"></sort-icon>
        </div>
      </div>
      <div class="b-notesList__item -type_title">
        <div class="b-notesList__title">Title</div>
        <div class="b-notesList__icon">
          <sort-icon :sort-column="'title'" :on-sort-action="onSortAction"></sort-icon>
        </div>
      </div>
      <div class="b-notesList__item -type_content">
        <div class="b-notesList__title">Content</div>
        <div class="b-notesList__icon">
          <sort-icon :sort-column="'content'" :on-sort-action="onSortAction"></sort-icon>
        </div>
      </div>
      <div class="b-notesList__item -type_status">
        <div class="b-notesList__title">Status</div>
        <div class="b-notesList__icon">
          <sort-icon :sort-column="'status'" :on-sort-action="onSortAction"></sort-icon>
        </div>
      </div>
    </div>
    <notes-row
      v-for="(row, index) in list" 
      :key="index" 
      :row="row"
      :on-delete-action="onDeleteNote"
      :is-checked="deleteNotesArray.includes(row.id)"></notes-row>
  </div>
  <toast :is-show-toast="isShowDeleteToast" 
        :title="deleteTitle"
        :toast-style="warningStyle"
        :icon-title="warningIcon"
        :on-submit-action="onSubmitDeleteAction" 
        :on-cancel-action="onCancelDeleteAction"></toast>
</div>
</template>

<script>
import NotesRow from '@/components/NotesRow'
import SortIcon from '@/components/SortIcon'
import Toast from '@/components/Toast'
import Checkbox from '@/components/Checkbox'

export default {
  name: 'NotesList',
  components: {
    NotesRow,
    SortIcon,
    Toast,
    Checkbox
  },
  props: {
    list: {
      type: Array,
      default: function () {
        return []
      }
    },
    onSortAction: {
      type: Function,
      default: function() {}
    },
    onDeleteAction: {
      type: Function,
      default: function() {}
    }
  },
  data () {
    return {
      isShowDeleteToast: false,
      deleteTitle: 'Do you want to delete this notes?',
      warningIcon: 'exclamation-triangle',
      warningStyle: 'warning',
      deleteNotesArray: [],
      isCheckedAll: false
    }
  },
  methods: {
    onSubmitDeleteAction() {
      this.onDeleteAction(this.deleteNotesArray);
      this.isShowDeleteToast = false;
      this.isCheckedAll = false;
    },

    onCancelDeleteAction() {
      this.deleteNotesArray = [];
      this.isShowDeleteToast = false;
      this.isCheckedAll = false;
    },

    onDeleteNote(id) {
      let isChecked = !this.deleteNotesArray.includes(id);
      if(isChecked) {
        this.deleteNotesArray.push(id);
      } else {
        for(let i = 0; i < this.deleteNotesArray.length; i++) {
          if(this.deleteNotesArray[i] === id) {
            this.deleteNotesArray.splice(i, 1);
          }
        }
      }
      this.toggleToast();
    },

    toggleCheckedAll() {
      this.isCheckedAll = !this.isCheckedAll;
      this.deleteNotesArray = [];
      if (this.isCheckedAll) {
        for (let i in this.list) {
          this.deleteNotesArray.push(this.list[i].id);
        }
      }
      this.toggleToast();
    },

    toggleToast() {
      if (this.deleteNotesArray.length > 0) {
        this.isShowDeleteToast = true;
      } else {
        this.isShowDeleteToast = false;
        this.isCheckedAll = false;
      }
    }
  }
}
</script>

<style lang="sass"></style>
