<template>
  <div class="l-sortIcon"  @click="onClick()">
    <div class="b-sortIcon">
      <div class="b-sortIcon__up" :class="{ '-state_active': !isAsc }">
        <font-awesome-icon icon="sort-up"/>
      </div> 
      <div class="b-sortIcon__down" :class="{ '-state_active': isAsc }">
        <font-awesome-icon icon="sort-down" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SortIcon',
  components: {},
  props: {
    sortColumn: {
      type: String,
      default: ''
    },
    onSortAction: {
      type: Function,
      default: function() {}
    }
  },
  data () {
    return {
      isAsc: true
    }
  },
  methods: {
    onClick() {
      this.onSortAction(this.sortColumn, this.isAsc);
      this.isAsc = !this.isAsc;
    }
  }
}
</script>

<style lang="sass"></style>
