<template>
<div class="l-statistics">
  <div class="b-statistics">
    <statistics-item :item="item" 
                    v-for="(item, index) in list" 
                    :key="index"></statistics-item>
  </div>
</div>
</template>

<script>
import StatisticsItem from '@/components/StatisticsItem'

export default {
  name: 'Statistics',
  components: {
    StatisticsItem
  },
  props: {
    list: {
      type: Object,
      default: function () {
        return {}
      }
    }
  }
}
</script>

<style lang="sass"></style>
