<div class="l-stationDetails" *ngIf="station">

  <div class="b-stationDetails">

    <div class="b-stationDetails__map">
      <app-map [geometry]="station.geometry"></app-map>
    </div>
    
    <div class="b-stationDetails__info">
      <app-station [station]="station" [type]="'details'"></app-station>
    </div>

  </div>

</div>
