.b-checkbox {
  position: relative;
  display: block;
  cursor: pointer;

  &__checkmark {
    
    &:before {
      display: none;
      position: absolute;
      left: 2px;
      top: -1px;
      color: $color-4;
      font-size: 14px;
      text-align: center;
      content: '\2714';
    }
  }

  &__input {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0;
    appearance: none;
    border: 1px solid $border-color-1;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;

    &:checked {
      
      +.b-checkbox__checkmark {
        
        &:before {
          display: block;
        }
      }
    }
  }

}