.l-content {
  min-width: 1000px;
}
.b-content {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 25px 150px 25px 40px;
  height: calc(100vh);

  @media (max-width: $breakpoint) {
    padding-right: 40px;
  }
}