.b-field {
  display: block;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid $border-color-1;
  border-radius: 2px;
  color: $color-primary;
  font: 14px/1.3 'Arial', sans-serif;

  @include placeholder {
    color: $color-2;
  }

  &.-type {
    
    &_textarea {
      min-height: 70px;
      @include placeholder {
        color: $color-2;
      }
    }
  }
}