.l-notesList {
  margin: 0 0 20px;
}

.b-notesList {
  background: $bg-2;

  &__header, &__row {
    display: flex;
    flex-flow: row wrap;
  }

  &__header {
    background: $bg-3;
  }

  &__row {
    border-bottom: 1px solid #efefef;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;

    &.-type {

      &_id {
        flex: 0 0 15%;
        color: $color-4;
      }

      &_title {
        flex: 0 0 35%;
      }

      &_content {
        flex: 0 0 35%;
      }

      &_status {
        flex: 0 0 15%;
      }
    }

    .b-notesList__header & {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px 10px;
      border-right: 1px solid #d8d8d8;
      color: $color-3;
      font-size: 13px;
      padding: 0;
    }
  }

  &__icon {
    display: flex;
    height: 100%;
  }

  &__value, &__title {
    display: flex;
    align-items: center;

    &Text {}
    &Checkbox {
      margin: 0 10px 0 0;
    }
  }

  &__title {
    padding: 8px 12px;
  }



}
