.l-sortIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.b-sortIcon {
  position: relative;
  width: 9px;
  height: 16px;

  &__up, &__down {
    position: absolute;
    color: $color-2;

    &.-state {

      &_active {
        color: $color-3;
      }
    }
  }
}