.l-statistics {
  margin: 0 0 30px;
}
.b-statistics {
  display: inline-flex;
  padding: 30px 25px;
  background: $bg-2;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.05);

  &__item {
    margin-right: 70px;
  
    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    margin: 0 0 5px;
    color: $color-2;
  }

  &__value {
    font-size: 18px;
  }
}