<div class="l-map" *ngIf="geometry">
  <div class="b-map">
    <iframe 
      id="gMap" 
      [src]="url | safeUrl" 
      width="100%" 
      height="678" 
      frameborder="0" 
      scrolling="no" 
      marginheight="0" 
      marginwidth="0"></iframe>
  </div>
</div>